.form {
    text-align: center;
    margin-top: 230px;
    font-size: 30px;
}

div {
    text-align: center;
    font-size: 30px;
}

p {
    margin: 0 0 30px 0;
}

button {
    height: 50px;
    width: 100px;
    font-size: 20px;
}

input {
    height: 30px;
    font-size: 25px;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
}

img {
    height: 150px;
}

article {
    padding: 30px;
    background-color: #ddd;
}

.documentation {
    font-size: 45px;
    display: block;
    margin-top: 450px;
    text-align: center;
}

.documentation a {
    color: blue;
}