body {
    margin: 0 350px;
    top: 0;
    text-align: center;
}

main {
    font-family: "Kanit", sans-serif;
    background: #f2f0eb;
    height: 1080px;
    border-left: 2px #ddddda solid;
    border-right: 1px #ddddda solid;
}

.headers {
    font-family: "Madimi One", sans-serif;
    font-size: 25px;
}

.page-header h1 {
    font-family: "Madimi One", sans-serif;
    margin-top: 0;
    padding-top: 50px;
    font-size: 50px;
}

img {
    height: 90px;
    border-radius: 50%;
    transition: 0.5s;
}

form {
    display: flex;
}

.drinks {
    padding: 20px;
}

.base-liquids {
    align-content: center;
    justify-content: center;
    display: flex;
}