body {
    margin: 0 400px;
    top: 0;
    text-align: center;
}

main {
    font-family: "Kanit", sans-serif;
    background: #f2f0eb;
    border-left: 2px #ddddda solid;
    border-right: 1px #ddddda solid;
}

.headers {
    font-family: "Madimi One", sans-serif;
    font-size: 25px;
}

.page-header h1 {
    font-family: "Madimi One", sans-serif;
    margin-top: 0;
    padding-top: 50px;
    font-size: 50px;
}

img {
    height: 90px;
    border-radius: 50%;
    transition: 0.5s;
}

.base-liquids form {
    display: flex;
    font-size: 18px;
}

.drinks {
    padding: 20px;
}

.base-liquids {
    align-content: center;
    justify-content: center;
    display: flex;
}

.fruits form, .sweeteners form, .thickeners form {
    font-size: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fruits form div, .sweeteners form div {
    padding: 20px;
}

.thickeners form div {
    padding: 15px;
}

.final_choices {
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
    margin: 30px 50px;
}

#submit {
    width: 160px;
    height: 80px;
    background-color: lawngreen;
    border: none;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: "Madimi One", sans-serif;
    font-size: 15px;
}

#submit:hover {
    background-color: red;
    cursor: pointer;
}

.base_liquids_error, .fruits_error {
    color: red;
}